* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #FFB900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Độ rộng chung cho phần content cho cả trang web */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 999px;
  background: #171100;
  line-height: 50px;
  }
  
  .btn:hov{
    opacity: 0.9;
    cursor: pointer;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -1.16px;
}

.heading.lv1{
  font-size: 5.8rem;
  line-height: 1.17; /* 117.241% */
}

.heading.lv2{
  font-size: 3.8rem;
  line-height: 1.26;
}

/* Header */
.header {
  background-color: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.header .sig-up-btn {
  min-width: 144px;
}

.action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding-top: 56px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  /* vertical-align: bottom; */
  display: block;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
  background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7; /* 166.667% */
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 135px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7; /* 166.667% */
}

.hero .cta-group{
    display: flex;
   align-items: center;
    margin-top: 38px;
}

.hero-cta{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .image{
    width: 40px;
    height: 40px;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
  margin-left: 14px;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}


/* popular */
.popular{
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5F5B53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

.popular .control{
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  cursor: pointer;
}

.popular-top .control-btn:hover{
  color: #fff;
  background-color: var(--primary-color);
  transition: 0.7s;
}

.popular .courses-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 55px;
}

.popular .courses-item{
  flex: 1;
  border: 1px solid #E2DFDA;
  border-radius: 12px;
  background: #FFF;
}
.popular .courses-item:hover{
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}

.popular .thumb{
  margin: -1px;
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .courses-item .info{
  padding: 16px 22px 22px;
}

.popular .courses-item .foot,
.popular .courses-item .rating,
.popular .courses-item .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .courses-item .title a{
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .rating .value{
  margin-left: 6px;
  color: #FEA31B;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.popular .courses-item .desc {
  color: #5F5B53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.popular .courses-item .foot{
  margin-top: 12px;

}

.popular .courses-item .price {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .courses-item .book-btn {
  border: none;
 }

 .popular .courses-item .book-btn:hover {
  background-color: var(--primary-color);
 }